<!-- 
    Interpolations 
    - what I use to put strings in my interface
    - in vue, we use {{ }}
    - v-once
    - this is where the lesson about how I can play with my data and putting it in the interpolation syntax is

    Conditional Rendering 1
    - v-if, v-else-if, and V-else are used in the div itself ex. <div v-if= " anObject "> </div>
    - v-if and the other physically removes the objects inside the virtual DOM
    - <template> </template> is what we use to group div with similar conditional rendering

    COnditional Rendering 2
    v-if = " " 
    - v-else-if = " "
    - v-else = " "

    Simple Modal 
    - @click.prevent
    - toggle in buttons
    - activity for Status Check Interactive is in interactiveToggleButton.html file

    Looping Basics
    - v-for = "i in 5"
    - to get the key the syntax looks like this: 
    - $ <div v-for="(i, k) in 5">Hello {{ k }}</div>
    - <select></select> - for having a select dropdown menu
    - <template></template> - instead of using <div> to wrap strings, this can be used

    Class Bindings (Object)
    - Styling done in classes
    - styling using v-bind

    Class Bindings (Array)
    - Also styling, with an advantage
    - In here, I can do multiple styling in one line
    - It can also hold an object inside
    - It can define a ternary expression

    Navigation Module Project
    - create navigation using the nave tab
    - <nav> </nav>

 -->